.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  text-align: center;

  color: white;
  background-color: #ee7639;
}

.todos {
  max-width: 500px;
}

.input {
  font-size: 23px;
}

.input::placeholder {
  color: #707070;
}
